<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
   <% if(posts.length <= 0){ %>
     <p>Sorry, No post found, do you mind creation some ? </p>
     <a class='btn' href="/new-post">Here you go ! </a>
  <% }else{ %>
    <%- include('includes/post-item', { posts: posts }) %>
    <% } %>
  </main> 
</body>

</html>